* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff; /*Define a cor do fundo*/
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif; /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
    font-weight: 300; /*de acordo com a fonte que importamos*/
    font-size: 20px;
    text-rendering: optimizeLegibility; /*otimiza a renderização da fonte para letura, tendo uma melhor qualidade*/
}

.row {
    max-width: 1140px; /*Define o tamanho máximo da linha*/
    margin: 0 auto 0 auto; /*Define que o container vai ficar centralizado*/
    /*margin: 0 auto; maneira alternativa para a linha de cima*/
 }
 header {
    background-image: url(img/thebigthree_2.webp);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/thebigthree_2.webp); /*explore outras cores e transparências*/
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #a09f6b;
    font-size: 200%; /*o tamanho de fonte padrão está definido na regra de css do elemento html como 20px*/
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 600;
}

.hero-text-box {
    position: absolute;
    width: 1000px; /*verificar se esse valor é adequado para seu monitor*/
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 10px; /*colocar um espaçamento acima da logo para baixar ela*/
    margin-left: -70px;
}

.main-nav {
    float: right;
    list-style: none; /*Se livra dos bullets - bolinhas pretas - marcadores*/
    margin-top: 50px; /*colocar um espaçamento acima da lista para baixar ela*/
}

.main-nav li {
    display: inline-block;
    margin-left: 40px; /*espaçamento entre os items da lista*/
}

.main-nav li a {
    padding: 8px 0;
    color: #a1a05c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #a1a05c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.section-origens {
    padding: 80px 0;
    background-color: #161515;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center; /*Centralizando o texto*/
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #fff;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #d3d024;
    content: " "; /*Conteúdo do item*/
    width: 100px; /*Comprimento do item*/
    margin: 0 auto; /*Centralizar*/
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.long-copy {
    line-height:145%;
    width: 70%; /*ocupa 70%, sobra 30%*/
    margin-left: 15%; /*15% para cada lado*/
}

.batman {
    color: black;
    text-align: center;
}

.superman {
    color: rgb(48, 48, 185);
    text-align: center;
}

.mulher_maravilha {
    color: rgb(170, 40, 40);
    text-align: center;
}

p {
    color: white;
}

.box {
    padding: 1%; /*dá um pequeno espaçamento entre o conteúdo e o container.*/
}

.images-showcase {
    list-style: none; /*Retira marcadores*/
    width: 100%; /*a lista agora ocupa toda largura da tela*/
}

.images-showcase li{
    display: block; /*permite outros elementos ao lado*/
    float: left; /*Faz com que os elementos sejam colocados lado a lado*/
    width: 25%; /*cada item da lista terá 25% de largura em relação a tela... 100/4*/
}

.photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.photo img {
    width: 100%;
    height: auto; /*para não desfigurar a imagem*/
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.section-photos {
    padding: 0;
}

.photo img:hover {
    opacity:1;
    transform: scale(1.03); /*escala da imagem com valor padrão*/
}